# Homework 01 - Introduction

## Q1. Pandas version¶
What's the version of Pandas that you installed?

In [51]:
import pandas as pd
import numpy as np

In [52]:
pd.__version__

'2.3.1'

In [91]:
# answer: 2.3.1

In [92]:
!wget -O car_fuel_efficiency.csv https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

--2025-10-16 21:49:27--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 874188 (854K) [text/plain]
Saving to: ‘car_fuel_efficiency.csv’

car_fuel_efficiency 100%[===================>] 853.70K  --.-KB/s    in 0.1s

2025-10-16 21:49:27 (5.57 MB/s) - ‘car_fuel_efficiency.csv’ saved [874188/874188]

In [54]:
df = pd.read_csv('car_fuel_efficiency.csv')
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

## Q2. Records count
How many records are in the dataset?

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

In [56]:
# answer: 9704

## Q3. Fuel types
How many fuel types are presented in the dataset?

In [57]:
df['fuel_type'].unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [58]:
# answer: 2

## Q4. Missing values
How many columns in the dataset have missing values?

In [59]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [60]:
# answer: 4

## Q5. Max fuel efficiency
What's the maximum fuel efficiency of cars from Asia?

In [61]:
df.loc[df['origin'] == 'Asia', 'fuel_efficiency_mpg'].max().round(2)

np.float64(23.76)

In [62]:
# answer: 23.76

## Q6. Median value of horsepower
Find the median value of the horsepower column in the dataset.

Next, calculate the most frequent value of the same horsepower column.

Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step.

Now, calculate the median value of horsepower once again.

In [63]:
med_val_hp = df['horsepower'].median()
print(med_val_hp)

149.0

In [64]:
freq_val_hp = df['horsepower'].value_counts().index[0]
print(freq_val_hp)

152.0

In [66]:
df['horsepower'] = df['horsepower'].fillna(freq_val_hp)
print("After fillna:", df['horsepower'].median())

After fillna: 152.0

In [67]:
# answer: Yes, it increased

## Q7. Sum of weights
Select all the cars from Asia

Select only columns vehicle_weight and model_year

Select the first 7 values

Get the underlying NumPy array. Let's call it X.

Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

Invert XTX.

Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].

Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

What's the sum of all the elements of the result?

In [75]:
X = np.array(df.loc[df['origin'] == "Asia", ['vehicle_weight', 'model_year']].head(7))

In [79]:
XTX =  X.T.dot(X)
print(XTX)

[[62248334.33150762 41431216.5073268 ]
 [41431216.5073268  28373339.        ]]

In [81]:
inv_XTX = np.linalg.inv(XTX)

In [83]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [89]:
w = inv_XTX.dot(X.T).dot(y)
print(w.sum().round(3))

0.519

In [90]:
# answer: 0.51